@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
body {
  font-family: "Tilt Neon";
}
.Select-User {
  position: relative;
  margin-left: 150px;
  margin-top: 120px;
  width: 380px;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.Eleve {
  position: relative;
  margin-left: 150px;
  width: 380px;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  border: 4px solid black;
}

h3 {
  text-align: center;
  font-size: 25px;
}
p {
  text-align: center;
  font-size: 22px;
}

.Aleatoire {
  position: absolute;
  margin-left: 650px;
  bottom: 720px;
  width: 200px;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  border: 4px solid black;
}

.submit2 {
  position: absolute;
  margin-left: 1075px;
  top: 240px;
  width: 80px;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  border: 2px solid black;
}

.Tirage {
  position: absolute;
  margin-left: 633px;
  top: 220px;
  width: 420px;
  height: 16px;
  padding: 10px;
  font-size: 19px;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  border: 2px solid black;
}

.Notation {
  position: absolute;
  top: 360px;
  margin-left: 690px;
  width: 420px;
  border-radius: 10px;
}

.submit1 {
  width: 100px;
  height: 50px;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.submit1:disabled {
  pointer-events: none;
}

.submit1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submit1:active {
  box-shadow: none;
  transform: translateY(0);
}

.Reset {
  position: absolute;
  margin-left: 1245px;
  top: 240px;
  width: 80px;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  border: 2px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122, 17, 8, 0.8);
  box-shadow: 0 8px 0 rgb(183, 9, 0), 0 15px 20px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  transition: 0.4s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Done {
  position: absolute;
  bottom: 8em;
  left: 60em;
  color: green;
}

.List-Passed {
  border: 3px solid black;
  width: 400px;
  border-radius: 20px;
  position: absolute;
  left: 40em;
  top: 40em;
}

.List-Absent {
    border: 3px solid black;
    width: 400px;
    border-radius: 20px;
    position: absolute;
    left: 80em;
    top: 40em;
  }

.TirageAbsent {
  position: absolute;
  margin-left: 805px;
  top: 300px;
  width: 120px;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  border: 2px solid black;
}
